:root {
  /* initial values : 1 = alive cell; 0 = dead cell */
  /* feel free to change these */
  --cell-0-value-step-0: 0;
  --cell-1-value-step-0: 0;
  --cell-2-value-step-0: 0;
  --cell-3-value-step-0: 0;
  --cell-4-value-step-0: 0;
  --cell-5-value-step-0: 0;
  --cell-6-value-step-0: 0;
  --cell-7-value-step-0: 0;
  --cell-8-value-step-0: 0;
  --cell-9-value-step-0: 1;
  --cell-10-value-step-0: 0;
  --cell-11-value-step-0: 0;
  --cell-12-value-step-0: 0;
  --cell-13-value-step-0: 1;
  --cell-14-value-step-0: 0;
  --cell-15-value-step-0: 1;
  --cell-16-value-step-0: 0;
  --cell-17-value-step-0: 0;
  --cell-18-value-step-0: 0;
  --cell-19-value-step-0: 0;
  --cell-20-value-step-0: 1;
  --cell-21-value-step-0: 1;
  --cell-22-value-step-0: 0;
  --cell-23-value-step-0: 0;
  --cell-24-value-step-0: 0;
  --cell-25-value-step-0: 0;
  --cell-26-value-step-0: 0;
  --cell-27-value-step-0: 0;
  --cell-28-value-step-0: 0;
  --cell-29-value-step-0: 0;
  --cell-30-value-step-0: 0;
  --cell-31-value-step-0: 0;
  --cell-32-value-step-0: 0;
  --cell-33-value-step-0: 0;
  --cell-34-value-step-0: 0;
  --cell-35-value-step-0: 0;

  @for $i from 1 through 4 {
    @for $j from 0 through 35 {
      /* calc alive neighbors of cell */
      --cell-#{$j}-alive-neighbors-step-#{$i}: calc(
        var(--cell-#{mod($j + 1, 36)}-value-step-#{$i - 1}) +
          var(--cell-#{mod($j + 5, 36)}-value-step-#{$i - 1}) +
          var(--cell-#{mod($j + 6, 36)}-value-step-#{$i - 1}) +
          var(--cell-#{mod($j + 7, 36)}-value-step-#{$i - 1}) +
          var(--cell-#{mod($j - 1, 36)}-value-step-#{$i - 1}) +
          var(--cell-#{mod($j - 5, 36)}-value-step-#{$i - 1}) +
          var(--cell-#{mod($j - 6, 36)}-value-step-#{$i - 1}) +
          var(--cell-#{mod($j - 7, 36)}-value-step-#{$i - 1})
      );

      /* game logic */
      --fewer-then-2-cell-#{$j}-step-#{$i}: max(
        calc(
          var(--cell-#{$j}-alive-neighbors-step-#{$i}) +
            var(--cell-#{$j}-value-step-#{$i - 1}) -
            2
        ),
        0
      );
      --more-then-3-cell-#{$j}-step-#{$i}: max(
        calc(
        4 - var(--cell-#{$j}-alive-neighbors-step-#{$i})),
        0
      );

      /* calc final value */
      --cell-#{$j}-value-step-#{$i}: min(
        calc(
          var(--fewer-then-2-cell-#{$j}-step-#{$i}) *
            var(--more-then-3-cell-#{$j}-step-#{$i})
        ),
        1
      );
    }
  }
}

@for $j from 0 through 35 {
  @keyframes cell-#{$j} {
    @for $i from 0 through 4 {
      #{$i * 15%} {
        filter: contrast(var(--cell-#{$j}-value-step-#{$i}));
      }
    }
    80% {
      filter: contrast(0);
    }
  }
}
@for $j from 0 through 35 {
  .cell:nth-child(#{$j + 1}) {
    animation: cell-#{$j} 6s ease-in-out 1s infinite;
    filter: contrast(var(--cell-#{$j}-value-step-0));
  }
}

body {
  background-color: #242224;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 0.5rem;
  margin-top: 4rem;
}

.cell {
  width: 4rem;
  height: 4rem;
  background-color: #19EB89;
  border-radius: 0.5rem;
}
